.hero-picture-container {
	text-align: center;
	padding: 20px;
}

.vita-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 165px;
	padding: 100;

}

.tcan-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
	padding: 100;

}

#images{
    text-align:center;
}