.personal-info label {
	font-weight: bold;
}

.red-icon {
	color: #d00000;
}

.green-icon {
	color: #00892c;
}

.mb-1rem {
	margin-bottom: 1rem;
}

.pointer {
	cursor: pointer;
}

.inline {
	display: inline;
}

#cboxContent {
	background: transparent !important;
}

#cboxLoadedContent {
	background: #ddd !important;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	padding: 0 0 2rem 0 !important;
}