#appointmentPicker {
	min-height: 300px;
}

td.ui-state-disabled.full {
	opacity: 0.65;
}

.email-confirmation-button {
	margin-left: 5px;
}

@media print {
	@page {
		size: portrait;
	}

	#google_translate_element, 
	#wdn_menu_toggle, 
	header, 
	#wdn_logo_lockup,
	#wdn_navigation_bar, 
	.wdn-menu-trigger,
	nav,
	#pagetitle,
	button,
	.btn,
	footer {
		display: none;
	}

	body {
		font-size: 12pt;
		font-family: 'Times New Roman', Times, serif;
	}

	b {
		font-weight: normal;
	}

	h2 {
		font-size: 18pt;
		font-weight: normal;
	}

	h5 {
		font-size: 14pt;
		font-weight: normal;
	}
}

.px-1rem {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.ui-datepicker tbody .ui-state-disabled {
	border: transparent;
}
