/* BUTTONS ================================= */
/* Based on the UNL WDN Style Sheet: http://wdn.unl.edu/buttons */
.vita-form-button, .vita-form-button-xl {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 1.069em 1.333em 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gotham SSm A','Gotham SSm B','Montserrat',Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  font-size: .75em;
  transition: background-color .3s ease-out;
  background-color: #4a3b13;
}

.vita-form-button-xl {
  font-size: 1em;
}

.vita-background-primary {
  background-color: #d00000;
  color: #fff;
}

.vita-background-primary:hover {
  background-color: #a70000;
}
