.error {
	color: #d00000;
}

.btn-group .wdn-button {
	border: 1px solid #2e240c;
}

.wdn-button.active {
	background-color: #2e240c;
}

.wdn-button:focus, 
.wdn-button:active:focus, 
.wdn-button.active:focus, 
.wdn-button.focus, 
.wdn-button:active.focus, 
.wdn-button.active.focus {
	box-shadow: 0 0 0 3px rgba(134,142,150,.5);
	outline: 5px auto rgba(134,142,150,.5);
}
