body {
  background-color: #FEFDFA;
}

/* HEADINGS ======================================= */
.vita-form-title {
  color: #474746;
  line-height: 1;
  margin: 0;
  padding: 1em 0 1em 0;
}

.vita-form-subheading {
  margin-top: 16px;
  margin-bottom: 16px;
}
h3.vita-form-subheading {
  font-size: 16px;
  margin-top: 0;
}

/* TEXTFIELD ======================================= */
.vita-form-textfield {
  position: relative;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 100%;
}
.vita-form-textfield input {
  font-size: 18px;
  padding: 8px 0 8px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
}
.vita-form-textfield input:focus {
  outline: none;
}

/* LABEL ======================================= */
.vita-form-label {
  color: #777;
}

.vita-form-select .vita-form-label {
  font-size: 14px;
}

.vita-form-textfield .vita-form-label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 3px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

label.vita-form-required::after {
  content: " *";
  color: #137CBD;
}

/* active state */
.vita-form-textfield input:focus ~ .vita-form-label {
  color: #D00000;
}

.vita-form-textfield input:focus ~ .vita-form-label,
.vita-form-textfield input ~ .vita-form-label__floating,
.vita-form-textfield input ~ .vita-form-label__always-floating {
  left: 0;
  top: -1em;
  font-size: 14px;
}

/* BOTTOM BARS ================================= */
.vita-form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.vita-form-bar:before, .vita-form-bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #D00000;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.vita-form-bar:before {
  left: 50%;
}
.vita-form-bar:after {
  right: 50%;
}

/* active state */
.vita-form-textfield input:focus ~ .vita-form-bar:before, .vita-form-textfield input:focus ~ .vita-form-bar:after {
  width: 50%;
}

/* HINTS ================================= */
.vita-form-hint {
  font-size: 14px;
  position: relative;
  left: 0;
  top: 0;
  line-height: 1em;
}

/* ERRORS ================================= */
label.error {
  font-size: 14px;
  position: absolute;
  color: red;
  left: 0;
  bottom: -16px;
  line-height: 1em;
}

/* CHECKBOXS/RADIO ================================= */
/* Source: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.vita-form-control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.vita-form-control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.vita-form-control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

/* Hover and focus states */
.vita-form-control:hover input ~ .vita-form-control__indicator,
.vita-form-control input:focus ~ .vita-form-control__indicator {
	background: #ccc;
}

/* Checked state */
.vita-form-control input:checked ~ .vita-form-control__indicator {
	background: #D00000;
}

/* Hover state whilst checked */
.vita-form-control:hover input:not([disabled]):checked ~ .vita-form-control__indicator,
.vita-form-control input:checked:focus ~ .vita-form-control__indicator {
  background: #910000;
}

/* Disabled state */
.vita-form-control input:disabled ~ .vita-form-control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.vita-form-control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.vita-form-control input:checked ~ .vita-form-control__indicator:after {
	display: block;
}

/* Checkbox tick */
.vita-form-checkbox .vita-form-control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.vita-form-checkbox input:disabled ~ .vita-form-control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.vita-form-radio .vita-form-control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.vita-form-radio input:disabled ~ .vita-form-control__indicator:after {
	background: #7b7b7b;
}

/* SELECT BOXES ================================= */
/* Source: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.vita-form-select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.vita-form-select select {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: #7b7b7b;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: #e6e6e6;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.vita-form-select select::-ms-expand {
	display: none;
}

.vita-form-select select:hover,
.vita-form-select select:focus {
	color: #000;
	background: #ccc;
}

.vita-form-select select:disabled {
	pointer-events: none;
	opacity: .5;
}

.vita-form-select__arrow {
	position: relative;
  bottom: 21px;
	left: calc(100% - 21px);
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.vita-form-select select:hover ~ .vita-form-select__arrow,
.vita-form-select select:focus ~ .vita-form-select__arrow {
	border-top-color: #000;
}

.vita-form-select select:disabled ~ .vita-form-select__arrow {
	border-top-color: #ccc;
}

/* RADIO BUTTONS ================================= */
.vita-form-radio {
	position: relative;
	display: inline-block;
	margin-bottom: 32px;
	width: 100%;
}

.vita-form-radio div .vita-form-radio-label {
  border-radius: 4px;
  margin: 3px 0;
  min-width: 45px;
  padding: 5px 10px;
}

.vita-form-radio .ui-state-active,
.vita-form-radio .ui-widget-content .ui-state-active,
.vita-form-radio .ui-widget-header .ui-state-active,
.vita-form-radio a.ui-button:active,
.vita-form-radio .ui-button:active,
.vita-form-radio .ui-button.ui-state-active:hover {
  background-color: #d00000;
  border: 1px solid #d00000;
  color: white;
}

.vita-form-radio .ui-visual-focus {
  box-shadow: 0 0 5px -1px #000;
}


/* BUTTONS ================================= */
/* Based on the UNL WDN Style Sheet: http://wdn.unl.edu/buttons */
/*.vita-form-button {
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 1.069em 1.333em 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gotham SSm A','Gotham SSm B','Montserrat',Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: .75rem;
    transition: background-color .3s ease-out;
    background-color: #4a3b13;
}

.background-primary {
    background-color: #d00000;
    color: #fff;
}*/
