body {
	background-color: #FEFDFA;
}

/* HEADINGS ======================================= */
h2.form-title {
	line-height: 1;
	margin: 0;
	padding: 1em 0 1em 0;
}
h3.form-subheading {
	margin-bottom: 0.5em;
	margin-top: 0;
}
.form-container {
	font-family: Verdana, 'Helvetica Neue', sans-serif;
	margin: 30px 0;
	padding: 10px 10px 50px;
	display: block;
	box-shadow: 0px 3px 15px -5px black;
	border-radius: 3px;
	min-width: 285px;
}

@media (min-width: 600px) {
	.form-container {
		margin: 30px 30px;
	}
}

@media (min-width: 960px) {
	.form-container {
		max-width: 720px;
		margin: 30px auto;
	}
}

.form-container form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

/* TEXTFIELD ======================================= */
.form-textfield {
	position: relative;
	margin-top: 1em;
	margin-bottom: 2em;
	width: 100%;
}
.form-textfield input {
	font-size: 1.1em;
	padding: 0.5em 0 0.5em 0;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	background-color: transparent;
}
.form-textfield input:focus {
	outline: none;
}

/* LABEL ======================================= */
.form-label {
	color: #777;
}

.form-select .form-label {
	font-size: 1em;
}

.form-textfield .form-label {
	font-size: 1.1em;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 3px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

label.form-required::after {
	content: " *";
	color: #137CBD;
}

/* active state */
.form-textfield input:focus ~ .form-label {
	color: #D00000;
}

.form-textfield input:focus ~ .form-label,
.form-textfield input ~ .form-label__floating,
.form-textfield input ~ .form-label__always-floating {
	left: 0;
	top: -1em;
	font-size: 1em;
}

/* BOTTOM BARS ================================= */
.form-bar {
	position: relative;
	display: block;
	width: 100%;
}
.form-bar:before, .form-bar:after {
	content: '';
	height: 3px;
	width: 0;
	bottom: 0;
	position: absolute;
	background: #D00000;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
.form-bar:before {
	left: 50%;
}
.form-bar:after {
	right: 50%;
}

/* active state */
.form-textfield input:focus ~ .form-bar:before, .form-textfield input:focus ~ .form-bar:after {
	width: 50%;
}

/* HINTS ================================= */
.form-hint {
	font-size: 1em;
	position: relative;
	left: 0;
	top: 0;
	line-height: 1em;
}

/* ERRORS ================================= */
label.error {
	font-size: 1em;
	position: absolute;
	color: red;
	left: 0;
	bottom: -1.7em;
	line-height: 1em;
}

/* CHECKBOXS/RADIO ================================= */
/* Source: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.form-control {
	font-size: 1em;
	position: relative;
	display: block;
	margin-bottom: 1em;
	padding-left: 2em;
	cursor: pointer;
}

.form-control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.form-control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

/* Hover and focus states */
.form-control:hover input ~ .form-control__indicator,
.form-control input:focus ~ .form-control__indicator {
	background: #ccc;
}

/* Checked state */
.form-control input:checked ~ .form-control__indicator {
	background: #D00000;
}

/* Hover state whilst checked */
.form-control:hover input:not([disabled]):checked ~ .form-control__indicator,
.form-control input:checked:focus ~ .form-control__indicator {
	background: #910000;
}

/* Disabled state */
.form-control input:disabled ~ .form-control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.form-control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.form-control input:checked ~ .form-control__indicator:after {
	display: block;
}

/* Checkbox tick */
.form-checkbox .form-control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.form-checkbox input:disabled ~ .form-control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.form-radio .form-control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.form-radio input:disabled ~ .form-control__indicator:after {
	background: #7b7b7b;
}

/* SELECT BOXES ================================= */
/* Source: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.form-select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.form-select select {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: #7b7b7b;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: #e6e6e6;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form-select select::-ms-expand {
	display: none;
}

.form-select select:hover,
.form-select select:focus {
	color: #000;
	background: #ccc;
}

.form-select select:disabled {
	pointer-events: none;
	opacity: .5;
}

.form-select__arrow {
	position: relative;
	bottom: 21px;
	left: calc(100% - 21px);
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.form-select select:hover ~ .form-select__arrow,
.form-select select:focus ~ .form-select__arrow {
	border-top-color: #000;
}

.form-select select:disabled ~ .form-select__arrow {
	border-top-color: #ccc;
}

/* RADIO BUTTONS ================================= */
.form-radio {
	position: relative;
	display: inline-block;
	margin-bottom: 32px;
	width: 100%;
}

.form-radio div .form-radio-label {
	border-radius: 4px;
	margin: 3px 0;
	min-width: 45px;
	padding: 5px 10px;
}
