.error {
	color: #d00000;
}

label.form-required::after {
	content: " *";
	color: #d00000;
	font-size: 1.247rem;
}

[data-toggle=buttons]>.dcf-btn-group>.dcf-btn input[type=checkbox],
[data-toggle=buttons]>.dcf-btn-group>.dcf-btn input[type=radio],
[data-toggle=buttons]>.dcf-btn input[type=checkbox],
[data-toggle=buttons]>.dcf-btn input[type=radio] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}
