@font-face {
	font-family: Verdana;
	src: url(../res/fonts/verdana.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Bebas_Neue;
	src: url(../res/fonts/bebas_neue_bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Bebas_Neue;
	src: url(../res/fonts/bebas_neue_regular.ttf);
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: Bebas_Neue;
	src: url(../res/fonts/bebas_neue_book.ttf);
	font-weight: book;
	font-style: normal;
}

@font-face {
	font-family: Bebas_Neue;
	src: url(../res/fonts/bebas_neue_light.ttf);
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: Bebas_Neue;
	src: url(../res/fonts/bebas_neue_thin.ttf);
	font-weight: thin;
	font-style: normal;
}

html {
	color: #212121;
	font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bebas Neue', Oswald,'Arial Narrow',Arial,sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

/* XS and SM styling to make container behave like fluid-container when XS or SM */
@media (max-width: 767px) {
	.container {
		max-width: inherit !important;
	}
}
