@import '/assets/css/headings.css';
@import '/assets/css/buttons.css';

html {
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	font-size: 112.5%;
}

body {
	background-color: #FEFDFA;
	margin: 0;
}

p {
	line-height: 1.5;
}

div.vita-body-container {
	margin: 2rem auto;
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 20px);
}

div.vita-body-container .vita-block-highlight {
	background-color: #333;
	color: #FEFDFA;
	margin-left: -10px;
	margin-right: -10px;
	padding: 15px 10px;
	width: 100%;
}

div.vita-body-container.full-width.dark {
	background-color: #333;
	color: #FEFDFA;
}

div.vita-body-container.full-width {
	max-width: none;
	padding: 15px 0;
	width: 100%;
}

div.vita-body-container.full-width * {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
}
