h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue','Oswald','Arial Narrow',Arial,sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.34em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.66em;
  text-transform: uppercase;
}
h6 {
  font-size: 1.34em;
  text-transform: uppercase;
}
