#main-banner {
  max-height: 200px;
}
#google_translate_element {
  position: fixed;
  bottom: 0;
}

.emailProfileStatic {
  margin-bottom: 1rem !important;
}

#profilePicture {
  margin-bottom: 20px;
}

.shiftSelect {
     display: inline-block;
}
