.nav {
  height: 72px;
  font-size: 24px;
  font-family: Verdana;
  z-index: 100;
}

.menu-icon-wrap {
  width: 72px;
  justify-content: center;
}

.menu-icon {
  cursor: pointer;
}

.site-lbl {
  margin-right: 24px;
}
