.nav {
  flex-direction: row;
  min-height: 72px;
  font-size: 24px;
  font-family: Verdana;
  z-index: 100;
}

.menu-icon-wrap {
  justify-content: center;
  width: 72px;
}

.menu-icon {
  cursor: pointer;
}

.nav-title-section {
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 5px 0;
  text-align: left;
}

#page-subtitle {
  font-size: 16px
}

@media (min-width: 600px) {
  #page-subtitle {
    font-size: 24px;
    margin-right: 24px;
    text-align: right;
  }

  .nav-title-section {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
