@font-face {
  font-family: Verdana;
  src: url(../res/fonts/verdana.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bebas_Neue;
  src: url(../res/fonts/bebas_neue_bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Bebas_Neue;
  src: url(../res/fonts/bebas_neue_regular.ttf);
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: Bebas_Neue;
  src: url(../res/fonts/bebas_neue_book.ttf);
  font-weight: book;
  font-style: normal;
}

@font-face {
  font-family: Bebas_Neue;
  src: url(../res/fonts/bebas_neue_light.ttf);
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: Bebas_Neue;
  src: url(../res/fonts/bebas_neue_thin.ttf);
  font-weight: thin;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
}

.wrpr-left {
  height: 100%;
  position: relative;
  float: left;
}

.wrpr-right {
  height: 100%;
  position: relative;
  float: right;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-bar {
  height: 72px;
  background: #212121;
  color: #FFFFFF;
  font-size: 24px;
  font-family: Verdana;
}

.menu-icon-wrpr {
  width: 72px;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.page-lbl-wrpr {
  width: 256px;
  align-items: center;
  justify-content: flex-start;
}

.site-lbl-wrpr {
  margin-right: 24px;
  width: 512px;
  align-items: center;
  justify-content: flex-end;
}

.dashboard {
  height: 128px;
  background: #F7F7F7;
}

.volunteers-wrpr, .queue-size-wrpr, .clock-wrpr {
  width: 256px;
  align-items: center;
  justify-content: flex-start;
  margin: 0 64px;
  color: #212121;
}

.volunteers, .queue-size {
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.volunteers-lbl, .queue-size-lbl {
  font-family: Verdana;
  font-size: 32px;
}

.volunteers-count, .queue-size-count {
  font-family: Bebas_Neue;
  font-size: 64px;
  font-weight: bold;
}

.clock {
  align-items: center;
  justify-content: center;
}

.clock-time {
  font-family: Bebas_Neue;
  font-size: 96px;
  font-weight: bold;
}

.clock-period {
  font-family: Bebas_Neue;
  font-size: 32px;
  font-weight: bold;
  margin: 0 8px;
}

.inactive-period {
  opacity: 0.15;
}