grey = #515150

set-position(t = auto, r = auto, b = auto, l = auto)
	position absolute
	if t != auto
		top t
	if r != auto
		right r
	if b != auto
		bottom b
	if l != auto
		left l

fix-position(t = auto, r = auto, b = auto, l = auto)
	position fixed
	if t != auto
		top t
	if r != auto
		right r
	if b != auto
		bottom b
	if l != auto
		left l

set-dimension(h = auto, w = auto)
	if h != auto
		height h
	if w != auto
		width w

center(t = auto, r = auto, b = auto, l = auto)
	set-position(t, r, b, l)
	if l != auto
		margin-right -50%
		transform translate(-50%, -50%)
	else if r != auto
		transform translate(50%, -50%)

html, body
	margin 0
	padding 0
	font-family 'Bebas Neue'
	font-weight 700

.vita-header
	set-dimension(100px, 100vw)
	border-bottom 1px solid grey
	fix-position(, , , )
	font-size 48px

.vita-volunteer-count
	display inline
	set-position(50%, , , 32px)
	transform translateY(-50%)
	color grey

.vita-header-curtain
	set-position(0, , , 50%)
	margin-right -50%
	transform translateX(-50%)
	set-dimension(150px, 400px)

.vita-exit-fullscreen
	set-position(50%, 32px, , )
	transform translateY(-50%)
	set-dimension(40px, 40px)

	&:hover
		cursor pointer

.vita-queue-wrapper
	set-dimension(calc(100vh - 100px), 100vw)
	set-position(, , 0, 0)
	overflow-y hidden

.vita-queue-header, .vita-queue
	set-dimension(, 800px)
	margin-right -50%
	transform translateX(-50%)
	box-sizing border-box

.vita-queue-header
	set-position(100px, , , 50%)
	font-size 48px
	color #D00000
	padding 0 24px

.vita-queue
	set-position(175px, , , 50%)
	font-size 40px
	color grey

.vita-queue-header-position, .vita-queue-header-name, .vita-queue-entry-position, .vita-queue-entry-name
	float left

.vita-queue-header-wait, .vita-queue-entry-wait
	float right

.vita-queue-entry
	border 1px solid grey
	set-dimension(68px, 100%)
	padding 12px 24px
	box-sizing border-box
	margin-bottom 18px

.vita-queue-header-position, .vita-queue-entry-position
	set-dimension(, 100px)
