html, body {
	height: 100vh;
}

.queue-details {
	height: calc(100% - 72px);
	padding: 36px;
	
}

.queue {
	height: 100%;
	width: 400px;
	margin-right: 36px;
	box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.25);
	flex-direction: column;
	font-size: 18px;
}

.queue-position-wrap {
	width: 15%;
}

.queue-name-wrap {
	width: 35%;
}

.queue-time-wrap {
	width: 50%;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.queue-table {
	flex-direction: column;
}

.queue-record {
	padding: 12px 24px;
	cursor: pointer;
}

.queue-record:hover {
	background: #F3F3F3;
}

.details {
	height: 100%;
	flex-grow: 1;
	box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.25);
}