.container {
	display: table-cell;
	background-color: #ebebea;
}

.container div,
.gu-mirror {
	margin: 10px 5px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 0.4s ease-in-out;
}
.container div {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.gu-mirror {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}