.dashboard {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 30px 0.7rem;
}

.queue {
	width: 100%;
}

.queue-count {
	font-size: 2rem;
}

.queue-size-count {
	font-weight: 600;
	padding-left: 5px;
}

.clock-time {
	font-size: 3.5rem;
	color: #474746;
	font-weight: 600;
	font-style: normal;
	line-height: 1;
}

.clock-period {
	font-size: 1.75rem;
	color: #474746;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
}

.inactive-period {
	opacity: 0.8;
}

.active-period {
	font-weight: bold;
}

.left-half {
	text-align: right;
	width: 50%;
	float: left;
}

.right-half {
	width: 50%;
	float: left;
}

.pointer {
	cursor: pointer;
}

.pill {
	display: inline-block;
	padding: .25em .6em;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10rem;
}

.pill-complete {
	color: #fff;
	background-color: #137cbd;
}

.pill-incomplete {
	border: 1px solid grey;
}

.pill-no-show {
	color: #fff;
	background-color: #D00000;
}

.pill-walk-in {
	color: #fff;
	background-color: #38764C;
}

/* Center the datepicker calendar on mobile */
@media (max-width: 767px) {
	.md-datepicker-calendar-pane.md-pane-open {
		left: 50% !important;
		transform: translateX(-50%) !important;
	}

	.bp-768-d-none {
		display: none;
	}
}

@media (max-width: 479px) {
	.dashboard {
		flex-direction: column;
	}
}
