.error-number {
	font-size: 200px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
}

.error-name {
	font-size: 96px;
	line-height: 96px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
}

.error-description {
	font-size: 24px;
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	.error-number {
		font-size: 160px;
		line-height: 100px;
	}

	.error-name {
		font-size: 76px;
		line-height: 76px;
	}

	.error-description {
		font-size: 18px;
	}
}

@media only screen and (max-width: 600px) {
	.error-number {
		font-size: 120px;
		line-height: 80px;
	}

	.error-name {
		font-size: 56px;
		line-height: 56px;
	}

	.error-description {
		font-size: 14px;
	}
}